
.desc {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.desc.collapsed {
  -webkit-line-clamp: 5;
}

.desc:not(.collapsed) {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.read-more {
  color: #12352f;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  display: inline-block;
  margin-top: 6px;
}
